
.calc_Body{
    background-color: #272423;
    width: 17rem;
    border-radius: 1.13rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    
    .ans_Screen{
        background-color: #ededed;
        margin: .5rem;
        color: black;
        border-radius: .5rem;
        padding: 0.5rem;
        font-size: large;

    }
    .prblm_Screen{
        background-color: #ededed;
        margin: .5rem;
        height: 2.5rem;
        color: black;
        border-radius: .5rem;
        font-size: large;
    }
    .keypad{
        display: flex;
        flex-direction: column;
        .buttonRow{
            display: flex;
            justify-content: space-evenly;
            margin: 0.5rem;
        }
        .calcBtn{
            padding: 3%;
            border-radius: .5rem;
            width:20%;
            background: whitesmoke;
            cursor:pointer;
            font-size: x-large;
        }
        .calcBtnLarge{
            width: 40%;
            background: #16a085;
            font-size: xx-large;
            color: whitesmoke;
            border-radius: .5rem;
            cursor:pointer;
        }
        .calcBtnMed{
            width: 21%;
            background: #F97B3C;
            font-size: xx-large;
            color: whitesmoke;
            border-radius: .5rem;
            cursor:pointer;

        }
        }
    }
